<h1>WELCOME TO THE COFFEE SHOP!</h1>


<div class="login">
    <a href="/Home/Registration/">REGISTER!</a>
    <br />
    <br />
    
    <form action="/Home/Login" method="post">
        <fieldset>
            <legend>Log in...</legend>
        EMAIL - <input type="email" name="email" required />
        <br /><br />
        
        PASSWORD - <input type="password" name="password" style="" required />
        <br /><br />
        <input type="submit" class="btn-warning" />
        </fieldset>
    </form>
    
</div>
<br />
<br />

<div>
    <h2>LIST OF BEANS!</h2>
    <ul>

        @foreach (var bean in ViewBag.Beans)
        {
            <li>
                @bean.Name  <br /> Price: @bean.Price  <br /> Qauntity: @bean.Qauntity  <br /> Description: @bean.Description <br /><br /><br />
            </li>
        }

    </ul>
</div>

<div>
    
</div>

