
@{
    ViewBag.Title = "Login";
}

<h2>Welcome @ViewBag.Name !</h2>
<h3>email: @ViewBag.Email</h3>

@if (ViewBag.Deluxe == false)
{
    <h3>You have a STANDARD account!</h3>
}
else
{
    <h3>You have a DELUXE account!</h3>
}


