
@{
    ViewBag.Title = "Registration";

    if(ViewBag.Error != null)
    {
        <p>@ViewBag.Error</p>
    }
}

<h2>Registration</h2>

<p>Please enter the required information below...</p>

<form action="~/Home/NewUser" method="post">
    <br />
    <p>FIRST NAME</p>
    <input type="text" name="FirstName" required />
    <br /><br />
    <p>LAST NAME</p>
    <input type="text" name="LastName" required />
    <br /><br />
    <p>EMAIL</p>
    <input type="email" name="Email" required />
    <br /><br />
    <p>PASSWORD</p>
    <input type="password" name="Password" style="" required />
    <br /><br />
    <p>ADDRESS</p>
    <input type="text" name="Address" required />
    <br /><br />

    <input type="submit" class="btn-warning" />

</form>

